<%= notice %>
<div class="container">
    <div class="home-index ml-25">
        <h1>welcome to Bookers !!</h1>
        <div class="book">
        <p>
            In Bookers,<br>

            you can share and exchange your opinions , inpressions , and emotions<br>
            
            about various books!
        </p>
        </div>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info" %><br>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %> 
    </div>
</div>