// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit {
    margin-left: 25%
}

.book_edit {
    width: 60%;
}

.btn {
    margin-bottom: 10;
}

.book_new {
    width: 100%;
}

.btn-primary {
    width: 100%;
}